* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: radial-gradient(at 50% 100%, #00153b, #001422);
}
